<div class="mail-container">
  <div class="image-mail">
    <h1>
      <span class="second-color"><strong>teach</strong>app</span>
    </h1>
  </div>
  <div class="mail-content">
    <h3>Votre affectation, <%= @user.first_name %></h3>
    <p>Vous avez reçu une nouvelle affectation : <br><strong><%= @assignment.school.name %><strong></p><br>
  </div>
      <%= link_to 'Voir les détails', accept_assignment_url(@assignment), class: 'button-mail' %>
</div>
