<div class="mail-container">
  <div class="title-mail">
    <h1>teachapp</h1>
  </div>
  <div class="mail-name">
    <h3>Votre affectation, <%= @user.first_name %></h3>
  </div>
    <p>Vous avez reçu une nouvelle affectation : <%= @assignment.school.name %><br></p>
    <p>
  <div class="button-container">
    <div class="button-mail">
      <p><%= link_to 'Voir les détails', accept_assignment_url(@assignment) %></p>
    </div>
  </div>
</div>
