<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Votre affectation, <%= @school_user.first_name %></h1>
    <p>
      Vous avez reçu une nouvelle affectation : <%= @user.assignment %><br>
    </p>
    <p>
     Voir les détails <%= link_to 'accept', accept_assignment_url(assignment) %>.
    </p>
  </body>
</html>
