.dash-container {
  margin: 0 auto;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr;
  gap: 4px;
}

.badge-card {
  .badge {
    margin-top: 5px;
    margin-left: 20px;
  }
}

.tete {
  color: #6A39CC;
  display: flex;
}

.tete h3 {
  font-weight: 700;
}

.dash-col h4 {
  font-weight: 700;
  color: #6A39CC;
}

.dashboard-nav {
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  grid-column: 1;
  grid-row: 1;
}

.head-row {
  margin-bottom: 10px;
  padding: 8px;
  background-color: white;
  width: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  border: solid 1px #A187D4;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.51);
}

.head-row h3 {
  font-weight: 700;
}

.dash-row {
  margin-top: 10px;
  grid-column: 1;
  grid-row: 2;
  display: flex;
  justify-content: space-between;
}

.dash-col {
  border: solid 1px;
  border-color: #A187D4;
  border-radius: 4px;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.51);
  padding: 8px;
  margin: 0;
  background-color: white;
  width: 33%;
}

.col-sm h4 {
  color: #6A39CC;
  font-size: 24px;
  font-weight: bold;
}

.col-sm h5{
  font-size: 20px;
  font-weight: bold;
}

.col-sm p {
  font-size: 16px;
}

.head-row h3 {
  font-weight: bold;
  color: #6A39CC;
}

.text-right {
  text-align: right;
  position: relative;
  color: #808080;
}

.date_card {
  margin-top: 20px;
}

.total {
  font-size: 14px;
  margin-top: 72px;
  color: black;
}

.total h1 {
  font-size: 25px;
}

.text-right h1 {
  color: black;
}

.title-address {
  text-align: center;
}

.button-route {
  padding: 8px;
  background-color: #8EF6CD;
  text-align: center;
  border-radius: 4px;
  text-decoration: none!important;
  color: black!important;
  font-weight: bold;
  width: 100%;
  display: block;
  margin-top: 10px;
}


.button-route:hover {
  background-color: #4BF2AF;
}

#subtitle-address {
  color: #808080;
  font-weight: 600;
  font-size: 0.8rem;
  margin-bottom: 20px;
}


.title-contacts {
  margin-bottom: 35px;
}

.directeur {
  font-size: 1,2em;
  margin-bottom: 30px;
  margin-left: 10px;
}