.dash-container {
  margin: 0 auto;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr;
  gap: 4px;
}

.dash-col h4 {
  font-weight: 700;
  color: #6A39CC;
}

.dashboard-nav {
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  grid-column: 1;
  grid-row: 1;
}

.head-row {
  margin-bottom: 10px;
  padding: 8px;
  background-color: white;
  width: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  border: solid 1px #A187D4;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.51);
}

.head-row h3 {
  font-weight: 700;
}

.dash-row {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  justify-content: space-between;
}

.arrows a {
  text-decoration: none;
  color: #6A39CC;
}

.arrows:hover a {
  color: #a187d4;
}

.dash-col {
  border: solid 1px;
  border-color: #A187D4;
  border-radius: 4px;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.51);
  padding: 8px;
  margin: 0;
  background-color: white;
  width: 33%;
}

.col-sm h4 {
  color: #6A39CC;
  font-size: 24px;
  font-weight: bold;
}

.col-sm h5{
  font-size: 20px;
  font-weight: bold;
}

.col-sm p {
  font-size: 16px;
}

.head-row h3 {
  font-weight: bold;
  color: #6A39CC;
}
.text-right {
  text-align: right;
  position: relative;
}

.title-address {
  text-align: center;
}
