<h1>Pages#home</h1>
<p>Components</p>

<p>----------------------------------------</p>
<button>
  Bouton
</button>

<p>----------------------------------------</p>
<p>Affectations</p>
<div class="carte">
  <div class="contenu">
    <div class="title">
      <h3>Titre</h3>
    </div>
    <div class="paragraphe">
      <ul>
        <li>Durée de la mission :</li>
        <li>Disponibilité :</li>
        <li>Localisation :</li>
        <li>Niveau de la classe :</li>
        <li>Compétences:</li>
      </ul>
    </div>
    </div>
  <div class="clique">
    <button>
      Trouver un remplaçant
    </button>
  </div>
</div>

<p>----------------------------------------</p>

<p>Professeurs</p>

<div class="cartes">
  <div class="row align-items">
    <div class="col">
      <div class="image">
        <img src="" alt="la photo">
      </div>
    </div>
  <div class="col">
  <div class="contenus">
    <div class="titre">
      Nom/Prénom
    </div>
    <div class="bio">
      <ul>
        <li>Niveau:</li>
        <li>Disponibilités:</li>
      </ul>
    </div>
  </div>
  </div>
  </div>
  <div class="competence">
    Liste des compétences:
  </div>
  <div class="experience">
    Liste des expériences:
  </div>
  <div class="cliquer">
    <button>
      Envoyer un mail
    </button>
  </div>
</div>
