.calcul {
  text-align: right;
}

.container h2 {
  color: #6A39CC;
  text-align: center;
  margin-bottom: 50px;
}

.card-header {
  margin-top: auto;
  color: #6A39CC;
}

.card-header h6 {
  font-weight: bold;
}

.assign-badeau {
  height: 200px;
  display: flex;
  flex-direction: row;
}

.badge-total {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 2px;
  transition: color 0.15s
}

.card-index {
  position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(207, 207, 207, 0.125);
    border-radius: 2px;
    border-color: #b6b6b6;
    margin-bottom: 1rem !important;
}

.activee {
  border: solid 1px;
  border-radius: 4px;
  border-color: #A187D4;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.51);
}
