.text-right {
  text-align: right;
}

.container h2 {
  color: #6A39CC;
  text-align: center;
  margin-bottom: 50px;
}

.histo-card-header {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  color: #6A39CC;
  border-bottom: 1px solid #6a39cc44;
}

.card-header h6 {
  font-weight: bold;
}

.assign-bandeau {
  height: 200px;
  display: flex;
  flex-direction: row;
}

.badge-total {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 2px;
  transition: color 0.15s;
  margin-bottom: 10px;
}

.card-index {
  position: relative;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(207, 207, 207, 0.068);
  border-radius: 2px;
  border-color: #b6b6b6;
  margin-bottom: 1rem !important;
}

.futur {
  @extend .card-index;
  border-radius: 4px;
}

.activee {
  @extend .card-index;
  border-radius: 4px;
}

.histo_assignment_card {
  background-color: white;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid white;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.16);
  position: relative;
  margin: 0px;

  p {
    color: #0e0000;
  }

  .header_card {
    display: flex;
    justify-content: space-between;
  }

  .titre_card {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 16px;
  }

  .line_card {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    p {
      margin: 0px;
      font-weight: 600;
      font-size: 16px;
    }
    img {
      margin-right: 16px;
    }
  }
}

.histo_text_card{
  color: #000000;
  font-size: 0.8rem;
}

.col-left {
  // flex: 0 0 66.6666666667%;
  // flex-basis: 66.6667%;
  // max-width: 66.6666666667%;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  color: #000000;
  font-size: 0.8rem;
}

.line {
  width: 100%;
  height: 0;
  border: 1px solid #000000;
  margin: 4px;
  display:inline-block;
  position: relative;
  margin-top: 30px;
}

.line span.tkt {
  position: absolute;
  background-color: #FFFCFC;
  top: -15px;
  left: 2px;
  color:#000000;
  font-size: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
  font-stretch: expanded;
  padding: 0 5px;
}

.avenir-assign-content {
  border-left: 10px solid #a187d43f;
  padding: 0;
  padding-left: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.encours-assign-content {
  border-left: 10px solid #ffa32b41;
  padding: 0;
  padding-left: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.past-asign-content {
  border-left: 10px solid #00000041;
  padding: 0;
  padding-left: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.mute {
  color: #949494;
  font-size: 0.8rem;
}
