.bouton {
  padding: 8px;
  background-color: #0965DB;
  border-radius: 4px;
  text-align: center;
  color: white;
}

.bouton:hover {
  background-color: #064799;
  color: white;
}

.bouton a {
  color: white;
  text-decoration: none;
}
