.titre {
  text-align: center;
  padding-top: 36px;
  color: white;
}

@keyframes zoomout {
  from {
    background-size: 120%;
  }
}
.container-titre {
  display: flex;
  justify-content: center;
  height: 304px;
  background-image: linear-gradient(rgba(106, 57, 204, 0.50), rgba(106, 57, 204, 0.45)), asset-url("school_child.jpg");
  background-size: 100%;
  background-position: center;
  opacity: 0.95;
  border-radius: 4px;
  margin-bottom: 48px;
  animation-duration: 25s;
  animation-name: zoomout;
}

.titre_teacher_proposal {
  color: #6A39CC;
  text-align: center;
  width: 80%;
  padding: 24px 0px;
  margin-top: 0px;
}

.titre_teacher_proposal h1 {
  font-weight: bold;
}

.titre_teacher_proposal h3 {
  font-size: 20px;
}

.carte {
  width: 80%;
  background-color: white;
  display: flex;
  margin: 64px auto;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.51);
}

.contenu {
  width: 85%;
}

.clique {
  margin-top: auto;
  margin-bottom: auto;
}

.assignment_cards {
  display: grid;
  grid-template-columns: 50% 50%;
}

@keyframes opacity_card {
  to {
    opacity: 1;
  }
}
.assignment_card {
  min-height: 190px;
  background-color: rgba(255,255,255,0.5);
  padding: 16px;
  border-radius: 4px;
  border: 1px solid white;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.16);
  transition: border 150ms ease-in-out;
  animation-fill-mode: forwards;
  animation-name: opacity_card;
  animation-duration: 1.2s;
  opacity: 0;

  p {
    color: #0e0000;
  }
}

.assignment_card:hover {
  background-color: rgba(255,255,255,1);
  border: 1px solid #6A39CC;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.28);
  transition: border 350ms ease-in-out;

  .bg-info {
    background-color: #6A39CC !important;
  }

  .bg-light {
   background-color: #4BF2AF !important;
  }
}

.assignment_cards {
  a {
    margin: 20px;
  }
}

.assignment_cards:hover {
  a {
    text-decoration: none;
  }
}

.header_card {
  display: flex;
  justify-content: space-between;
}

.text_card {
  display: flex;
  flex-direction: column;
}

.titre_card {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 16px;
}

.date_card {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  p {
    margin: 0px;
    font-weight: 600;
    font-size: 16px;
  }
  img {
    margin-right: 16px;
  }
}

.content_card {
  display: flex;
  align-items: center;
  p {
    margin: 0px;
    font-weight: 400;
    font-size: 16px;
  }
  img {
    margin-right: 16px;
  }
}

.badges_card {

  .bg-light {
    font-size: 14px;
    padding: 4px 8px;
    background-color: #D1FAEB !important;
  }
  .bg-info {
    font-size: 14px;
    padding: 4px 8px;
    background-color: #A187D4 !important;
    color: white !important;
  }
}

.icon_map {
  border: 1px solid white;
  padding: 2px;
  border-radius: 4px;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.08)
}
