.cartes {
  background-color: white;
  margin: 0px auto;
  width: 30%;
  height: 500px;
  border-radius: 4px;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.51);
  margin-bottom: 20px;
}

.align-items {
  width: 100%;
}

.image {
  margin: 10px;
}

.contenus {
  padding: 10px;
  margin-top: 10px;
}

.bio {
  text-decoration: none;
  margin-top: 30px;
}

.competence {
  padding: 10px;
}

.experience {
  padding: 10px;
}

.cliquer {
  text-align: center;
}
