.titres {
  text-align: center;
}

.image img {
  border-radius: 4px;
}

.d-flex {
  margin-top: 50px;
}

.cartes {
  margin-top: 10px;
  background-color: white;
  margin: 0px auto;
  width: 30%;
  border-radius: 4px;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.51);
  margin-bottom: 60px;
  height: 440px;
}

.align-items {
  width: 100%;
}

.image {
  margin: 10px;
}

.contenus {
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
}

.bio {
  text-decoration: none;
  margin-top: 30px;
}

.competence {
  padding: 10px;
}

.experience {
  padding: 10px;
}

.boutons {
  padding: 8px;
  background-color: #4BF2AF;
  border-radius: 4px;
  text-align: center;
  width: 70%;
  margin: auto;
}

.boutons:hover {
  background-color: #00d47f;
}

.boutons a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
