.titres {
  text-align: center;
}

.image img {
  border-radius: 4px;
}

.d-flex {
  margin-top: 50px;
}

.cartes {
  background-color: rgba(255,255,255,0.8);;
  width: 30%;
  border-radius: 4px;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.16);
  height: 334px;
  border: 1px solid #A187D4;
}

.align-items {
  width: 100%;
}

.image {
  margin: 10px;
}

.contenus {
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.bio {
  text-decoration: none;
  margin-top: 30px;
}

.competence {
  padding: 10px;
}

.experience {
  padding: 10px;
}

.boutons {
  padding: 8px;
  background-color: #8EF6CD;
  border-radius: 4px;
  text-align: center;
  width: 70%;
  margin: auto ;
}

.boutons:hover {
  background-color: #4BF2AF;
}

.boutons a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.card_school {
  display: flex;
  justify-content: center;
}

.assignment_card_proposals {
  min-height: 190px;
  background-color: rgba(255,255,255,0.8);
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #6A39CC;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.16);
  transition: border 150ms ease-in-out;
  width: 70%;

  p {
    color: #0e0000;
  }
}

.badges_card {
    .bg-primary {
    font-size: 14px;
    padding: 4px 8px;
    background-color: #4BF2AF !important;
  }
  .bg-secondary {
    font-size: 14px;
    padding: 4px 8px;
    background-color: #6A39CC !important;
    color: white !important;
  }
}

.select_enseignant {
  font-size: 24px;
  display: flex;
  justify-content: center;
  color: #6A39CC;
  padding: 24px;
  font-weight: 600;
}

.margin_enseignant {
  margin-top: 0px;
}
