// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "bouton";
@import "card_affectation";
@import "card_professeur";
@import "footer";
@import "card_mail";

.flex-justify-betw {
  display: flex;
  justify-content: space-between;
}

.align-right{
  text-align: right;
}
