.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
}

.mapboxgl-popup-close-button {
  visibility: hidden;
}

.icon-map {
  margin-right: 5px;
}

#map {
  margin-top: 10px;
  border-radius: 4px;
}
