.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
}

.mapboxgl-popup-close-button {
  visibility: hidden;
}

.marker-color {
  color: #4BF2AF;
}
