.navbar-teachapp42 {
  justify-content: space-between;
  background: white;
}

.navbar-teachapp42 .navbar-collapse {
  flex-grow: 0;
}

.navbar-teachapp42 .fas {
  color: rgb(15, 179, 0);
}

.hello_user {
  padding: 8px;
}
