// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/supportbackground";
@import "components/accept";
@import "pages/index";
@import "components/devise";
@import "components/review";
@import "components/map";
@import "components/assign";
@import "components/card_mail";
@import "pages/dashboard";
@import "components/school_board";

body {
  position: relative;
  background-color: #FFFCFC;
}

p {
  font-size: 0.8rem;
}
